@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
box-sizing: border-box;
}

/*** Body ***/
body {
    margin: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: url(gray-and-black-hive-printed-textile-691710.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    
}


/*** Content ***/
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px;
    margin: 20px;
    
    
    
}


/*** Navbar ***/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
    
}

.navbar-links ul {
    display: flex;
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.navbar-links a:hover {
    background-color: white;
    color: black;
    width: 100%;
    height: auto;
    
}



.name-title {
    padding: 10px;
}

/* Handmade Hamburger */

.toggle-button {
    position: absolute;
    top: 2.3rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

  }





/*** Welcome Section ***/
#welcome h1 {
    font-size: 50px;
 
}

#welcome h2 {
    font-style: italic;
    font-size: 20px;
    
}




/*** Bio Section ***/

#bio h2 {
    font-size: 40px;
}

#bio h3 {
    font-style: italic;
}

#bio p {
    font-size: 20px;
}



/*** Portfolio ***/
#portfolio h2 {
    font-size: 40px;
}

#portfolio h3 {
    font-size: 25px;
    font-style: italic;
}

#portfolio h4 {
    font-size: 30px;
}

#portfolio p {
    font-size: 20px;
}








/*** Footer ***/

footer h4{
    font-size: 20px;
}


/*******************Mobile Size *******************/

@media screen and ( max-width: 450px) {

 /*** Navbar ***/

 .toggle-button {
    display: flex;
}

.navbar-links {
   display: none;
   width: 100%;
}

.navbar-links ul{
    flex-direction: column;
    width: 100%;
 }

 .navbar-links li {
     text-align: center;
 }

 .navbar-links li a{
    padding: 8px;
}

.navbar-links.active {
    display: flex;
 }

.navbar {
    flex-direction: column;
    align-items: flex-start;
}



 /*** Content section ***/
 .content-section {
     padding: 20px;
 }


/*** Welcome Section ***/
#welcome h1 {
    padding-bottom: initial;
}




/*** Portfolio ***/
  
  .row:after {
    content: "";
    display: table;
    clear: both;
 }
  
 /* Content */
  .content, img {
    width: 100%;
    height: auto;
}

  
}






/******************* Tablet Size *******************/
@media screen and (min-width: 700px) {
   .content img {
    width: 80%;
    height: auto;
    padding: 10px;
    }
}







/* Desktop sized devices */
@media screen and (min-width: 900px){
    #portfolio h4 {
        font-size: 20px;
    }

    .content-section p {
        font-size: 15px;
    }
}